{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
  <div class="login-container">
    <h2>Welcome Back!</h2>
    <p>Please enter your login details to access your financial dashboard. If you don't have an account yet, you can <a href="{% url 'signup' %}">sign up here</a>.</p>
    
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Login</button>
    </form>

    <p><a href="{% url 'password_reset' %}">Forgot your password?</a></p>
  </div>
{% endblock %}
